
@model Lottery.Models.ViewModel.ListNumViewModel

@{
    ViewBag.Title = "檢查重複值";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@{
    var a = 1;
}
<table class="table">
    <tr>
        <th>
            項次
        </th>
        <th>
            員工編號
        </th>
        <th>
            名稱
        </th>
        <th>
            號碼1
        </th>
        <th>
            號碼2
        </th>
        <th>
            號碼3
        </th>
        <th>
            號碼4
        </th>
        <th>
            號碼5
        </th>

    </tr>

    @foreach (var item in Model.lottery_list)
    {

<tr>
    <td>
        @a
    </td>
    <td>
        
    </td>
    <td>
        
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.lottery_num_1)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.lottery_num_2)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.lottery_num_3)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.lottery_num_4)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.lottery_num_5)
    </td>
</tr>

        a = a + 1;
    }

</table>